---
---

@import "{{ site.theme }}";

/* Changes background to black and body text to white */
body {
    background-color: black;
    color: white;
}

/* Changes all major heading tags to white */
h1, h2, h3, h4, h5, h6 {
  color: #969595;
}

/* Changes all links (normal, visited, and active states) to white */
a, a:visited, a:active {
  color: #bae6f9; 
}